body {
    background-color: #323a46;
    color: white !important;
}

table {
    color: white !important;
}

canvas {
    color: white !important;
}

.box-content {
    /* background-color: #323a46; */
    border-radius: 5px;
    padding: 2px;
    margin: 5px;
    box-shadow: 0 0 15px 10px #00000030;
}

.border-shadow {
    border-radius: 5px;
    box-shadow: 0 0 15px 10px #00000030;
}

.pointer {
    background-color: #00000030;
    border-radius: 5px;
}

.pointer:hover {
    transition-duration: 0.5s;
    cursor: pointer;
    box-shadow: 0 0 15px 10px #737A82;
}

.good-value {
    color: #31ce77;
}

.bad-value {
    color: #F83F40;
}

.good-bg {
    background-color: #31ce77;
}

.bad-bg {
    background-color: #F83F40;
}

.rectangle {
    width: 50px;
    height: 20px;
}


/* slick zone */

.slick-btn {
    font-size: 50px;
    border-radius: 5px;
    position: absolute;
    top: 110% !important;
    margin-top: -7px !important;
}

.slick-prev {
    left: calc(50vw - 200px) !important;
    display: inline;
}

.slick-next {
    right: calc(50vw - 200px) !important;
    display: inline;
}

.slick-dots {
    /* z-index: -1; */
    top: 103% !important;
}


/* the slides */

.slick-slide {
    margin: 0 27px;
}


/* the parent */

.slick-list {
    margin: 0 -27px;
}